.menu{
    display: grid;
    grid-template-columns: 64px auto;
    grid-template-rows: 64px 48px;
    gap: 8px;
    box-shadow: 0 4px 16px 0px rgba(0,0,0,0.4);
}

.account-menu-button{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 48px auto;
    user-select: none;
}

.account-menu-button i{
    place-self: center;
    font-size : 24px;
}

.account-menu-button span{
    align-self: center;
}