@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(var(--color-bg-1));
    @apply transition-[background];
  }
  
  h1{
    @apply font-bold text-3xl;
  }
  
  .nav:before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: -1;
  }
  
  h1, h2, h3{
    user-select: none;
    font-weight: 600;
  }
  
  @layer base{
      :root{
        --color-bg-1: 252 252 252;
        --color-bg-2: 244 244 244;
        --color-bg-3: 236 236 236;
        --color-primary: 25 88 240;
        --color-widget-normal: 228 228 228;
        --color-widget-hover: 212 212 212;
        --color-widget-active: 240 240 240;
        --color-danger: 255 50 50;
        --color-text: 12 12 12;
        --color-widget-disabled: 75 85 99;
        --color-card: 244 244 244;
        --color-card-hover: 239 239 239;
        --color-card-active: 236 236 236;
      }
      :root[class~="dark"]{
        --color-bg-1: 16 16 18;
        --color-bg-2: 21 22 26;
        --color-bg-3: 31 32 38;
        --color-primary: 25 88 240;
        --color-widget-normal: 37 39 46;
        --color-widget-hover: 44 45 54;
        --color-widget-active: 40 41 48;
        --color-danger: 255 60 60;
        --color-text: 255 255 255;
        --color-widget-disabled: 31 41 55;
        --color-card: 21 22 26;
        --color-card-hover: 31 32 38;
        --color-card-active: 34 36 44;
      }
  }